/* Tags alphabetically ordered */

body {
  font-size: 16px;
  font-family: 'Roboto', san-serif;
}

@media all and (max-width: 1200px) { /* screen sizes up to 1200px */
  body {
      font-size: 1em;
  }
}
@media all and (max-width: 900px) { /* screen sizes up to 1000px */
  body {
      font-size: .9em;
      }
  }
@media all and (max-width: 340px) { /* screen sizes up to 500px */
  body {
      font-size: 0.8em;
      }
  }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid black;
}

html {
  background-color: #F6F6F6;
}



/* Other CSS Alphabetically sorted */
.assuranceTitle {
  text-align: center;
  font-size: 1.3em;
}

.btn-primary {
  color: #fff;
  background-color: #FF5A00;
  border-color: #FF5A00;
  margin-bottom: 1%;
}
.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #FF5A00!important;
  background-color: #fff!important; /*Although it's not a best practice to use !important, for this assignment purposes, chose to override this in order to display clean visuals*/
  border-color: #FF5A00!important;
  outline: none;
  box-shadow: none;
}

.btn:focus, .btn:active, .btn-primary:focus, .btn-primary:success, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #FF5A00;
  border-color: #FF5A00;
  outline: none;
  box-shadow: none;
}

.carousel {
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5A00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
 }
 
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5A00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.detailPageMain {
  background-color: #F6F6F6;
}

.detailedSpec {
  font-size: 14px;
}

.detailSpecDescription {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
}

.imageParent {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
}

.img-fluid {
  max-height: 100%;
  height: auto;
}

.mileageInfo {
  font-size: 1.2em;
  color: #FF5A00;
}

.modelTrimInfo {
  font-size: 3em;
}

.monthlyInfo {
  font-size: 3em;
  color: #FF5A00;
}

.MYMakeInfo {
  font-size: 1.2em;
}

.navbar {
  background-color: white;
  color: #FF5A00;
  outline: solid 1px #EBEBEB;
}

.navbarContent {
  outline: 0;
}

.startFeeInfo {
  font-size: 2em;
}

#vehicleCarousel {
  background-color: #F6F6F6; 
}